<?xml version="1.0" encoding="utf-8"?>
<!--Configure for PostgreSQL -->
<configuration>
  <configSections>
    <section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
  </configSections>
  <qshine>
    <!--qshine configuration setting folder path. ./Config is the default folder.
		the framewrok will load all configuration files from this folder.
		-->
    <!--Install PostgreSQL DDL provider-->
    <components>
      <component name="postgresqldialect" interface="qshine.database.ISqlDialectProvider" type="qshine.database.postgresql.SqlDialectProvider, qshine.database.postgresql"/>
    </components>
  </qshine>

  <connectionStrings>
    <add name="testdb" providerName="Npgsql" connectionString="Host=localhost;Username=postgres;Password=royal1;Database=sampledb" />
  </connectionStrings>

</configuration>
