<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<!--load modules from assemblies and . -->
		<modules>
			<module name="repository" type="QShine.NHibernateRepository.BootStraper, QShine.NHibernateRepository"/>
		</modules>
	</qshine>
</configuration>
