<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<!--qshine configuration setting folder path. ./Config is the default folder.
		the framewrok will load all configuration files from this folder.
		-->
		<!--providers setting-->
		<components>
			<component name="ioc" 
				interface="qshine.IIocProvider"
				type="qshine.External.Autofac.IoCProvider, QShine.Autofac"
				scope="singleton"/>
			<component name="cache" 
				interface="qshine.ICacheProvider"
				type="QShine.MemoryCacheProvider, QShine.MemoryCache"
				scope="singleton"/>
			<component name="mainFileServer" 
				interface="qshine.IFileManagerProvider"
				type="qshine.FileManager" scope="singleton">
				<parameters>
					<parameter name="path" value="//192.168.10.12/fileServer" /> 
					<parameter name="user" value="dev" /> 
					<parameter name="password" value="password" /> 
					<parameter name="domain" value="mydomain" /> 
				</parameters>
			</component>
		</components>
		<appSettings>
			<add key="key0" value="key0 value" />
			<add key="key1" value="key1 value" />
			<add key="key2" value="key2 value" />
		</appSettings>
	</qshine>
</configuration>
