<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<!--qshine configuration setting folder path. ./Config is the default folder.
		the framewrok will load all configuration files from this folder.
		-->
		<!--providers setting-->
		<components>
			<component name="ioc" interface="qshine.IoC.IIoCProvider" type="qshine.ioc.autofac.Provider, qshine.ioc.autofac"/>
			<component name="cache"
				interface="qshine.ICacheProvider"
				type="QShine.MemoryCacheProvider, QShine.MemoryCache"
				scope="singleton"/>
			<component name="mainFileServer" 
				interface="qshine.IFileManagerProvider"
				type="qshine.FileManager" scope="singleton">
				<parameters>
					<parameter name="path" value="//192.168.10.12/fileServer" /> 
					<parameter name="user" value="dev" /> 
					<parameter name="password" value="password" /> 
					<parameter name="domain" value="mydomain" /> 
				</parameters>
			</component>
		</components>
		<appSettings>
			<add key="key0" value="key0 value" />
			<add key="key1" value="key1 value" />
			<add key="key2" value="key2 value" />
		</appSettings>
		
		<environments>
			<environment name="root" path="d:\qshine.root\config" />
		</environments>
	</qshine>
	<!--Encrypting section:
	%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_regiis -pef "connectionStrings" "type your full path to directory containing your web.config file"-->
	<connectionStrings>
		<add name="db1" providerName="testProvider" connectionString="abc,002" />
		<add name="db2" providerName="testProvider2" connectionString="abc2,aaa" />
	</connectionStrings>
	
</configuration>
