<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine"/>
  </configSections>

  <qshine>
    <environments>
      <environment name="sqlserver" path="config/component/database/sqlserver"/>
      <environment name="ioc" path="config/component/ioc/autofac"/>
      <environment name="json" path="config/component/json/newton"/>
      <environment name="nlog" path="config/component/logger/nlog"/>
      <environment name="dbinterceptor" path="config/component/interceptor/logInterceptor"/>
    </environments>
  </qshine>

  <!--sql server test database connection-->
  <connectionStrings>
    <add name="testdb" providerName="System.Data.SqlClient" connectionString="Data Source= np:\\.\pipe\LOCALDB#6F8212B2\tsql\query;Initial Catalog=sampledb;Integrated Security=false" />
    <add name="testdb1" providerName="System.Data.SqlClient" connectionString="Data Source=np:\\.\pipe\LOCALDB#06816F9A\tsql\query\tsql\query;Initial Catalog=sampledb;Integrated Security=True" />
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="SqlClient Data Provider" />
      <add name="SqlClient Data Provider"
       invariant="System.Data.SqlClient"
       description=".Net Framework Data Provider for SqlServer"
       type="System.Data.SqlClient.SqlClientFactory, System.Data"
    />
    </DbProviderFactories>
  </system.data>  
 

  <!--Sql server data provider always loaded by Windows from machine.config-->

  <!--dev debug-->
  <system.diagnostics>
    <sources>
      <source name="dev" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <remove name="Default"/>
        </listeners>
      </source>

      <source name="General" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener">
      </add>
    </sharedListeners>

  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>

