<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<!--qshine configuration setting folder path. ./Config is the default folder.
		the framewrok will load all configuration files from this folder.
		-->
		<environments>
			<!-- top level configuration folder that contains common configration files for the applications-->
			<environment name="root" path="d:\qshine.root\config" />
			<!--overload configuration for QA environment. It is only available for specified QA server -->
			<environment name="qa" path="mySystemFolder/QA_config" host="202.22.22.22"/>
			<!--overload configuration for UA environment. It is only available for specified UA server -->
			<environment name="ua" path="mySystemFolder/UA_config" host="192.168.1.11"/>
		</environments>
		<appSettings>
			<add key="key0" value="level0 key0 value" />
		</appSettings>
	</qshine>


	<system.diagnostics>
	    <sources>
	      <source name="dev" switchName="DevDebug" 
	        switchType="System.Diagnostics.SourceSwitch" >
	      </source>
	      <source name="General" switchName="GeneralSwitch" 
	        switchType="System.Diagnostics.SourceSwitch" >
	      </source>
	    </sources>
	    <switches>
	      <!-- You can set the level at which tracing is to occur -->
	      <add name="DevDebug" value="All" />
	      <add name="GeneralSwitch" value="Verbose" />
	    </switches>
		<trace autoflush="true">
		</trace>
	</system.diagnostics>	
</configuration>
