<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.Environment, Qshine.Framework" />
	</configSections>
	<qshine>
		<!--load modules from assemblies and . -->
		<modules>
			<!--load ioc module of Qshine.Test.dll from working folder or environment assembly folder-->
			<module name="myModule" type="QShine.Test.BootStraper, QShine.Test"/>
		</modules>
	</qshine>
</configuration>
