<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<!--Configure bus name and bus provider.
    Different message buses use different message bus service to deliver messages to endpoint/listener
		-->
		<!--providers setting-->
		<maps>
			<map name="eventBus1" component="NServiceBusProvider" source="" target="" />
      <map name="eventBus2" component="NServiceBusProvider" source="" target="" />
      <map name="messageBus10" component="RabbitMQBusProvider" source="" target="" />
      <map name="messageBus20" component="TibcoBus" source="" target="" />
    </maps>
		<appSettings>
			<add key="key0" value="key0 value" />
			<add key="key1" value="key1 value" />
			<add key="key2" value="key2 value" />
		</appSettings>
	</qshine>
</configuration>
