<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	
	<qshine>
		<!--providers setting-->
		<!--sample provider component -->
		<components>
			<component name="c1"
				interface="c1.testInterface_overwrite"
				type="c1.testClass_1, c1.test"/>
		</components>
		<!--sample application setting -->
		<appSettings>
			<add key="key0" value="key0 value_overwrite" />
			<add key="key1" value="key1 value" />
			<add key="key2" value="key2 value" />
		</appSettings>

		<!-- Sample module config. It's better move it in component plug-in folder -->
		<modules>
		  <module name="moduleTest1" type="M1.testClass, M1_overwrite"/>
		  <module name="moduleTest2" type="M1.testClass, M1"/>
		</modules>
	</qshine>
	<!--Encrypting section:
	%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_regiis -pef "connectionStrings" "type your full path to directory containing your web.config file"-->
	<connectionStrings>
		<add name="dbTest1" providerName="testP1" connectionString="dbt1,001_overwrite" />
		<add name="dbTest2" providerName="testP1" connectionString="dbt2,002" />
	  <add name="dbTest3" providerName="testP3" connectionString="dbt3,003" />
	</connectionStrings>
	
</configuration>
