<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine"/>
  </configSections>
  <qshine>
    <!--qshine configuration setting folder path. ./Config is the default folder.
	the framewrok will load all configuration files from this folder.
	-->
    <environments>
      <environment name="postgresql" path="config/postgresql" bin="bin,bin/net45"/>
    </environments>
  </qshine>

  <system.data>
    <DbProviderFactories>
      <!--PostgreSQL provider-->
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>

    </DbProviderFactories>
  </system.data>  
  

  <system.diagnostics>
    <sources>
      <source name="dev" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <remove name="Default"/>
        </listeners>
      </source>

      <source name="General" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener">
      </add>
    </sharedListeners>

  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>


</configuration>

