<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<environments>
			<!-- Select Sqlite database configure-->
			<!--<environment name="sqlite" path="sqliteConfig" bin="bin,bin/net45"/>-->

      <!-- Select MySql database configure-->
      <environment name="mysql" path="mysqlConfig" bin="bin"/>
		</environments>
		<components>
			<!--Plug-in DBClient loger interceptor-->
			<component name="logHandler" interface="qshine.IInterceptorHandler" type="qshine.LogInterceptor.DbClientLog, qshine.LogInspector"/>
		</components>		
	</qshine>

	<connectionStrings>
		<!--Install test Sqlite database-->
		<!--<add name="testDatabase" providerName="System.Data.SQLite" connectionString="Data Source=sample.db" />-->
    <add name="testDatabase" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=sampledb;Uid=dev;Pwd=royal1;Port=3306;SslMode=none" />
	</connectionStrings>	
</configuration>
