<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<environments>
			<!-- Select Sqlite database configure-->
			<environment name="sqlite" path="sqliteConfig" bin="bin,bin/net45"/>
		</environments>
		<components>
			<!--Plug-in DBClient loger interceptor-->
			<component name="logHandler" interface="qshine.IInterceptorHandler" type="qshine.LogInterceptor.DbClientLog, qshine.LogInspector"/>
		</components>		
	</qshine>

	<connectionStrings>
		<!--Install test Sqlite database-->
		<add name="testDatabase" providerName="System.Data.SQLite" connectionString="Data Source=sample.db" />
	</connectionStrings>	
</configuration>
