<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- qshine environment config section -->
    <section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
  </configSections>

  <qshine>
    <!--plug-in component -->
    <components>
      <component name="eventstore" interface="qshine.EventSourcing.IEventStoreProvider" type="qshine.EventStore.Provider, qshine.eventstore"
                 scope="singleton">
        <parameters>
          <parameter name="connectionStringName" value="eventstore" />
        </parameters>
      </component>
    </components>
    
    <maps name="qshine.EventSourcing.IEventStoreProvider" default="*" >
      <add key="*" value="eventstore" />
    </maps>
  </qshine>
</configuration>