<?xml version="1.0" encoding="utf-8"?>
<!--Configure for Sqlite -->
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<!--qshine configuration setting folder path. ./Config is the default folder.
		the framewrok will load all configuration files from this folder.
		-->
		<!--Install Sqlite DDL provider-->
		<components>
			<component name="sqlProvider" interface="qshine.database.ISqlDatabaseProvider" type="qshine.database.sqlite.SqlDatabaseProvider, qshine.database.sqlite"/>
		</components>
	</qshine>

<!-- Sqlite provider need be installed in application root level
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>	
-->
</configuration>
