@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>1. OAuth2 Sample to get Google Resource <a href="/OAuth2/Index">Google Login</a></p>


</div>
