<?xml version="1.0" encoding="utf-8"?>
<!--Configure for Oracle -->
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
		
		<!--Oracle manageddataaccess -->
		<section name="oracle.manageddataaccess.client"
		  type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
	</configSections>
	
	<qshine>
		<!--plug-in database component set in database sub folder-->
		<components>
			<!--
				plug-in database SQL syntax dialect component.
			-->
			<!--oracle component-->
			<component name="oracleDialect" interface="qshine.database.ISqlDialectProvider" type="qshine.database.oracle.SqlDialectProvider, qshine.database.oracle"/>
		</components>
	</qshine>

	<!-- database connection strings -->
	
	<!--Encrypting section:
	%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_regiis -pef "connectionStrings" "type your full path to directory containing your web.config file"-->
	<connectionStrings>
		<add name="testDatabase" providerName="Oracle.ManagedDataAccess.Client" connectionString="user id=sampledb;password=royal1;data source=sampledb" />
	</connectionStrings>

	<runtime>
		<!--Oracle specific config: using Oracle manageddataaccess 4.122.18.3-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
				<bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<!-- Config Oracle server using Oracle ManagedDataAccess without installing Oracle database client -->
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="sampledb" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)))"/>
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>  

</configuration>
