<?xml version="1.0" encoding="utf-8"?>
<!--Configure for Oracle -->
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
				
	</configSections>
	
	<qshine>
		<!--plug-in database component set in database sub folder-->
		<components>
			<!--
				plug-in database SQL syntax dialect component.
			-->
			<!--oracle component-->
			<component name="oracleDialect" interface="qshine.database.ISqlDialectProvider" type="qshine.database.oracle.SqlDialectProvider, qshine.database.oracle"/>
		</components>
	</qshine>
	
</configuration>
