<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<environments>
			<!-- Select Sqlite database configure-->
			<!--<environment name="sqlite" path="sqlite" bin="bin,bin/net45"/>-->

      <!-- Select MySql database configure-->
      <!--<environment name="mysql" path="mysql" bin="bin"/>-->

      <!-- Select postgresql database configure-->
      <!--<environment name="postgresql" path="postgresql" bin="bin,bin/net45"/>-->

      <!-- Select SQL Server database configure-->
      <!--<environment name="sqlserver" path="sqlserver" bin="bin"/>-->

      <!-- Select ORACLE database configure-->
      <environment name="oracle" path="oracle" bin="bin"/>
    </environments>
		<components>
			<!--Plug-in DBClient loger interceptor-->
			<component name="logHandler" interface="qshine.IInterceptorHandler" type="qshine.LogInterceptor.DbClientLog, qshine.LogInspector"/>
		</components>		
	</qshine>
</configuration>
