<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine"/>
  </configSections>
  <qshine>
    <environments>
      <!-- plugin newton json.net-->
      <environment name="root" path="config/component/json/newton" bin="bin"/>
    </environments>
  </qshine>
  <system.diagnostics>
    <sources>
      <source name="dev" switchName="DevDebug" switchType="System.Diagnostics.SourceSwitch">
      </source>
      <source name="General" switchName="GeneralSwitch" switchType="System.Diagnostics.SourceSwitch">
      </source>
    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur -->
      <add name="DevDebug" value="All"/>
      <add name="GeneralSwitch" value="Verbose"/>
    </switches>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>
