<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	
	<qshine>
		<!--plug-in database component set in database sub folder-->
		<components>
		</components>

		<environments>
			<!--point to component library folder. -->
      <!--database environment usually done by application configure -->
			<!--<environment name="database" path="component/database" bin="mysql"/>-->
      
		</environments>   
	</qshine>


  <system.data>
    <!-- !!!!! Below data provider factories cannot be load from this configuration file.
    If the dat provider factories is not configured in server machine.config you need add it in your application config file (app.config or web.config)
    -->
    <DbProviderFactories>
		<!--Sqlite Data provider-->
		<remove invariant="System.Data.SQLite.EF6"/>
		<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
           description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
           type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
		<remove invariant="System.Data.SQLite"/>
		<add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>

		<!--MySQL Data provider-->
		<remove invariant="MySql.Data.MySqlClient" />
		<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" 
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      
		<!--PostgreSQL data provider-->
		<remove invariant="Npgsql"/>
		<add name="Npgsql Data Provider" invariant="Npgsql"
           description=".Net Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
		   
		<!--Oracle data provider-->
		<remove invariant="Oracle.ManagedDataAccess.Client" />
		<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" 
			description="Oracle Data Provider for .NET, Managed Driver" 
			type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />		   
      </DbProviderFactories>
  </system.data>


</configuration>
