<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	
	<qshine>
		<!--plug-in autofac IoC component -->
		<components>
			<component name="ioc" interface="qshine.IIocProvider" type="qshine.ioc.autofac.Provider, qshine.ioc.autofac"/>
		</components>
		
		<environments>
			<!--point to component library folder. -->
			<environment name="ioc" path="component/ioc/autofac" bin="bin"/>
		</environments>    
	</qshine>
</configuration>
