<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	
	<qshine>
		<!--providers setting-->
		<!--sample provider component -->
		<components>
			<component name="cache"
				interface="qshine.Caching.ICache"
				type="qshine.Caching.MemoryCacheProvider, qshine"
				scope="singleton"/>
			<component name="mainFileServer" 
				interface="qshine.IFileManagerProvider"
				type="qshine.FileManager" scope="singleton">
				<parameters>
					<parameter name="path" value="//192.168.10.12/fileServer" /> 
					<parameter name="user" value="dev" /> 
					<parameter name="password" value="password" /> 
					<parameter name="domain" value="mydomain" /> 
				</parameters>
			</component>
		</components>
		<!--sample application setting -->
		<appSettings>
			<add key="key0" value="key0 value" />
			<add key="key1" value="key1 value" />
			<add key="key2" value="key2 value" />
		</appSettings>

		<!-- Sample module config. It's better move it in component plug-in folder -->
		<modules>
		  <module name="moduleTest" type="qshine.NHibernateRepository.BootStraper, QShine.NHibernateRepository"/>
		</modules>

		<!--Load additional sub-config folder if necessary.-->
		<!--
		<environments>
			<environment name="sub-config" path="addition_config" />
		</environments>
		-->
	</qshine>
	<!--Encrypting section:
	%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_regiis -pef "connectionStrings" "type your full path to directory containing your web.config file"-->
	<connectionStrings>
		<add name="db1" providerName="testProvider" connectionString="abc,002" />
		<add name="db2" providerName="testProvider2" connectionString="abc2,aaa" />
	</connectionStrings>
	
</configuration>
