<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	
	<qshine>
		<components>
			<!--
				plug-in database SQL syntax dialect component.
			-->
			<!--sqlite component-->		
			<component name="sqliteDialect" interface="qshine.database.ISqlDialectProvider" type="qshine.database.sqlite.SqlDialectProvider, qshine.database.sqlite"/>
		</components>
	</qshine>

	<connectionStrings>
		<add name="testDatabase" providerName="System.Data.SQLite" connectionString="Data Source=sample.db" />
		<!--<add name="testDatabase" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=sampledb;Uid=dev;Pwd=royal1;Port=3306;SslMode=none" />-->
	</connectionStrings>


  <!-- Sqlite provider need be installed in application root level
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>	
-->
</configuration>
