<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- qshine environment config section -->
    <section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
  </configSections>

  <qshine>
    <!--plug-in component -->
    <components>
      <component name="google" interface="qshine.oauth2.IOAuth2Provider, qshine.oauth2" type="qshine.oauth2.Provider, qshine.oauth2"
                 scope="singleton">
        <parameters>
          <parameter name="name" value="google" />
          <parameter name="baseUri" value="https://accounts.google.com" />
          <parameter name="authorizationUri" value="o/oauth2/auth" />
          <parameter name="tokenUri" value="https://oauth2.googleapis.com/token" />
          <parameter name="resourceUri" value="o/oauth2/auth" />
          <parameter name="revocationUri" value="o/oauth2/auth" />
          <parameter name="clientId" value="341533428512-nunuqidp95dsp1h067ga4l9hqnl96qh0.apps.googleusercontent.com" />
          <parameter name="clientSecret" value="M_Aa9d1Hbzao5MNS_6w1-uQg" />
          <parameter name="clientAuthorizationMethod" value="Basic" />
          <parameter name="callbackUrl" value="https://localhost:44399/OAuth2/Code" />
        </parameters>
      </component>
    </components>
    
    <maps name="qshine.authentication.IOAuth2Provider" default="*" >
      <add key="*" value="google" />
    </maps>
  </qshine>
</configuration>