<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- qshine environment config section -->
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<components>
			<!--
				plug-in database SQL syntax dialect component.
			-->
			<!--postgresql component-->
			<component name="postgresqlDialect" interface="qshine.database.ISqlDialectProvider" type="qshine.database.postgresql.SqlDialectProvider, qshine.database.postgresql"/>
		</components>
	</qshine>

	<connectionStrings>
		<add name="testDatabase" providerName="Npgsql" connectionString="Host=localhost;Username=postgres;Password=royal1;Database=sampledb" />
	</connectionStrings>  

</configuration>
