<?xml version="1.0" encoding="utf-8"?>
<!--Configure for MySql -->
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine" />
	</configSections>
	<qshine>
		<!--qshine configuration setting folder path. ./Config is the default folder.
		the framewrok will load all configuration files from this folder.
		-->
		<!--Install MySql DDL provider-->
		<components>
			<component name="mySqlProvider" interface="qshine.database.ISqlDatabaseProvider" type="qshine.database.mysql.SqlDatabaseProvider, qshine.database.mysql"/>
		</components>
	</qshine>

</configuration>
