<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="qshine" type="qshine.Configuration.EnvironmentSection, qshine"/>
	</configSections>
  
  <qshine>
    <environments>
      <environment name="ioc" path="config/component/ioc/autofac"/>
      <environment name="json" path="config/component/json/newton"/>
      <environment name="nlog" path="config/component/logger/nlog"/>
      <environment name="dbinterceptor" path="config/component/interceptor/logInterceptor"/>
      <!--<environment name="oracle" path="config/component/database/oracle"/>-->
      <environment name="sqlite" path="config/component/database/sqlite"/>
    </environments>
  </qshine>

  <!--Encrypting section:
	%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_regiis -pef "connectionStrings" "type your full path to directory containing your web.config file"-->
  <connectionStrings>
    <!--
    <add name="testDatabase" providerName="Oracle.ManagedDataAccess.Client"
         connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));user id=sampledb;password=royal1;" />
    -->
    <add name="testDatabase" providerName="System.Data.SQLite" connectionString="Data Source=sample1.db" />
    
  </connectionStrings>


  <!--data provider factories-->
  <system.data>
    <DbProviderFactories>
      <!--Sqlite Data provider-->
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.109.2, Culture=neutral" />

      <!--MySQL Data provider-->
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />


      <!--PostgreSQL data provider-->
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql"
           description=".Net Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>

      <!--Oracle provider-->
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>

    </DbProviderFactories>
  </system.data>
  
  <!--dev debug-->
	<system.diagnostics>  
	    <sources>
		    <source name="dev" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
		      <listeners>
		        <add name="console"/>
		        <remove name="Default"/>
		      </listeners>
		    </source>

		    <source name="General" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
		      <listeners>
		        <add name="console"/>
		        <remove name="Default"/>
		      </listeners>
		    </source>
	    </sources>
	    <switches>
	      <add name="sourceSwitch" value="All"/>  
	    </switches>  
		<sharedListeners>
		    <add name="console" type="System.Diagnostics.ConsoleTraceListener">
		    </add>
		</sharedListeners>
		
	  </system.diagnostics>

</configuration>
